<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />

    <link rel="apple-touch-icon" sizes="76x76" href="/dist/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/favicon-16x16.png">
    <link rel="manifest" href="/dist/manifest.json">
    <link rel="mask-icon" href="/dist/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <title>Open Exchange Rates interface by Dariusz Dubicki</title>
  </head>
  <body>
    <noscript>
      Do pełnej funkcjonalności strony potrzebujesz włączonej obsługi skryptów.
      Tu znajdziesz <a href="http://www.enable-javascript.com/pl/" target="_blank">
      instrukcje, które pozwolą Ci włączyć skrypty w Twojej przeglądarce</a>.
    </noscript>
    <div id="oxr-app"></div>
  </body>
</html>
